language: android
jdk: oraclejdk8
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
android:
  components:
    - android-25
    - tools
    - platform-tools
    - build-tools-25.0.0
    - extra-android-m2repository
    - extra-google-m2repository
script: ./gradlew clean assembleDebug check
